<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<!--<form action="/predict" method="POST" accept-charset="utf-8">
		<label for="Image_Upload">Upload Image:</label>
		<input type="file" name = 'file' enctype="multipart/form-data">	
		<input type="submit" name="predict" value="Predict">	
	</form>-->
	<form method="POST" action="." enctype="multipart/form-data">
	    <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg"><br>
	    <input type="submit" name="submit" value="Predict">
	</form>
	
</body>
</html>